:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, b, u, i, ol, ul, li,
form, label, legend, table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption,
footer, header, menu, nav, section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  	box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

button, input {
	font: inherit;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html, main {
	background-color: #FAFAFA;
}